<h2>~COFFEEMANIA~</h2>

<h3>自分の好きなカフェ・コーヒー豆の<br>
投稿がいつでもどこでも可能。<br>
また、全国にどんなカフェがあるのか、<br>
飲んでみたいコーヒー豆がどんなテイストなのか、<br>
すぐにユーザーの投稿を見て知ることができます。<br>
コーヒー好きのコミュニティの場として、活用してください。<br>

一緒にコーヒー業界を盛り上げましょう！！
</h3>