<h1>
  <b>
    コーヒー豆投稿一覧
  </b>
</h1>
<table class="table" >
  <thead>
    <tr>
      <th>User</th>
      <th>Beans Name</th>
      <th>Origin</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @beans.each do |bean| %>
      <tr>
        <td><%= link_to bean.user.user_name, user_path(:id) %></td>
        <td><%= link_to bean.beans_name,bean_path(bean.id) %></td>
        <td><%= bean.origin %></td>
      </tr>
    <% end %>
  </tbody>

</table>