/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .main-title{
   font-color: white;
   font-family: Comic Sans MS;
 }

 .nav-item{
   font-family: Comic Sans MS;
 }

.background-image{
  background-image: image-url('COFFEE0I9A8933.jpg');

  background-size: cover;
  min-height: auto;
  background-position: center center;
}

.body{
  background: rgba(255,255,255,0.8);
  background-size: cover;
  min-height: 110vh;
}

footer{

  background-color: #663300;
}

.footer-text{
  font-family: Comic Sans MS;
  text-align: center;
  color: white;
}

nav{
  background-color:#663300;
}

.about{
  font-family: Comic Sans MS;
}

.btn{
  background-color: #663300;
  color: white;
}

.p{
  margin-top: 5;
  text-align: center;
  padding-top: 50px;
  letter-spacing: 3px;
}

.unsubscribe{
  text-align: center;
  padding-top: 100px;
  letter-spacing: 3px;
}

.unsubscribe-btn{
  padding-top: 50px;
}

.post{
  font-family: Comic Sans MS;

}

.cafe-post-list{
  font-family: Comic Sans MS;
}

.bean-post-list{
  font-family: Comic Sans MS;
}

.cafe-table{
  font-family: Comic Sans MS;
}

.bean-table{
  font-family: Comic Sans MS;
}

.cafe-detail{
  font-family: Comic Sans MS;
}

.bean-detail{
  font-family: Comic Sans MS;
}

.cafe-edit{
  font-family: Comic Sans MS;
}

.bean-edit{
  font-family: Comic Sans MS;
}

.userpage{
  font-family: Comic Sans MS;
}

.follow{
  font-family: Comic Sans MS;
}

.text-small{
  margin: 2;
}
